---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PackagesSearch from "../components/PackagesSearch";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="main-text">
        <h1>The Best Collection of Dot Net Packages and Frameworks</h1>
        <p style="">
          A currated list of the best nuget packages, libraries and SDK's for
          your next Dot Net project.
        </p>
      </div>

      <!-- add search and all items -->
      <PackagesSearch client:load />
    </main>
    <Footer />
    <style>
      main {
        width: auto;
        margin: auto;
      }

      .main-text {
        max-width: 720px;
        margin: auto;
      }

      @media only screen and (max-width: 600px) {
        h1 {
          font-size: 2rem;
        }
      }
    </style>
  </body>
</html>
